---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Home - Krishna Academy',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero actions={[]} image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}>
    <Fragment slot="title"> तमसो मा ज्योतिर्गमय </Fragment>

    <Fragment slot="subtitle">
      <p class="font-lg">
        'तमसो मा ज्योतिर्गमय' का शाब्दिक अर्थ है, 'अंधकार से प्रकाश की ओर बढ़ो'. इसका मतलब यह भी है कि मुझे असत्य से
        सत्य की ओर, अंधकार से प्रकाश की ओर, और मृत्यु से अमरता की ओर ले चलो. 'तमसो मा ज्योतिर्गमय' का उल्लेख मूल रूप से
        बृहदारण्यक उपनिषद में किया गया है.
      </p>
      <br />
      <p class="mb-[50px]">
        कृष्णा Academy युवा मनोवृत्तियों का पोषण करने और सीखने के लिए प्रेम को बढ़ावा देने के लिए समर्पित एक प्रमुख
        शिक्षण संस्थान है। हम एक उत्तेजक और सहायक वातावरण प्रदान करते हैं जहां छात्र अपनी शैक्षणिक क्षमता, रचनात्मकता और
        सामाजिक कौशल विकसित कर सकते हैं।
      </p>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="हमारा दृष्टिकोण"
    subtitle="शिक्षा में उत्कृष्टता का एक प्रतीक बनना, छात्रों को ज्ञान, कौशल और मूल्यों से लैस करने के लिए सशक्त बनाना ताकि वे वैश्विक दुनिया में सफल हो सकें।"
    items={[
      {
        title: 'समग्र विकास को बढ़ावा देना',
        description:
          'एक समग्र पाठ्यक्रम प्रदान करना जो प्रत्येक बच्चे के बौद्धिक, भावनात्मक और शारीरिक विकास को पूरा करे।',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'जांच की संस्कृति को बढ़ावा देना',
        description: 'जांच, आलोचनात्मक सोच और समस्या समाधान की संस्कृति विकसित करना।',
        icon: 'tabler:components',
      },
      {
        title: 'मजबूत मूल्यों को विकसित करना',
        description: 'मजबूत नैतिक मूल्यों और सामाजिक जिम्मेदारी की भावना पैदा करना।',
        icon: 'tabler:list-check',
      },
      {
        title: 'पोषण और समावेशी वातावरण बनाना',
        description: 'एक ऐसा पोषण और समावेशी वातावरण प्रदान करना जहां हर बच्चा मूल्यवान और सम्मानित महसूस करे।',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="शिक्षा का वादा, सफलता का रस्ता"
    items={[
      {
        title: 'बौद्धिक जिज्ञासा को प्रज्वलित करें',
        description:
          'हम एक ऐसा वातावरण प्रदान करते हैं जो प्रश्न पूछने, खोज करने और नई अवधारणाओं को समझने के लिए प्रोत्साहित करता है।',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'रचनात्मक अभिव्यक्ति को बढ़ावा दें',
        description:
          'हम अपने छात्रों को कल्पना, कला, संगीत और अन्य रचनात्मक प्रयासों के माध्यम से खुद को व्यक्त करने के लिए प्रोत्साहित करते हैं।',
        icon: 'tabler:components',
      },
      {
        title: 'सहयोग और टीम वर्क को बढ़ावा दें',
        description:
          'हम अपने छात्रों को दूसरों के साथ मिलकर काम करना, एक-दूसरे से सीखना और साझा लक्ष्यों को प्राप्त करना सिखाते हैं।',
        icon: 'tabler:list-check',
      },
      {
        title: 'सामाजिक जिम्मेदारी और नैतिकता को बढ़ावा दें',
        description: 'हम अपने छात्रों को दूसरों के प्रति दयालु, सम्मानजनक और जिम्मेदार बनने के लिए प्रेरित करते हैं।',
        icon: 'tabler:rocket',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">युवा मनों का पोषण</h3>
      एक बार में एक छात्र, सफलता के लिए एक मजबूत नींव का निर्माण करना।
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="अक्सर पूछे जाने वाले प्रश्न"
    subtitle="कृष्णा अकादमी के बारे में अधिक जानने के लिए इन प्रश्नों और उत्तरों को देखें।"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'कृष्णा अकादमी में कौन सी कक्षाएं चलती हैं?',
        description: 'हम 1 से 5 कक्षा तक के छात्रों के लिए कक्षाएं प्रदान करते हैं।',
      },
      {
        title: 'आपका पता क्या है?',
        description: ' हमारा पता सोनपुर, बिहार 841101, भारत है।',
      },
      {
        title: 'आपसे संपर्क करने का सबसे अच्छा तरीका क्या है?',
        description: 'आप हमें ईमेल कर सकते हैं hello@krishnaacademy.org पर।',
      },
      {
        title: 'क्या आपका कोई ओपन डे या स्कूल टूर होता है?',
        description: 'हां, हम निश्चित रूप से करते हैं! अधिक जानकारी के लिए हमें ईमेल करें।',
      },
      {
        title: 'क्या आपका कोई छात्रवृत्ति कार्यक्रम है?',
        description:
          'हां, हम योग्य और आर्थिक रूप से कमजोर छात्रों को 100% छात्रवृत्ति प्रदान करते हैं। अधिक जानकारी के लिए हमें ईमेल करें।',
      },
    ]}
  />
</Layout>
